.modal-container {
	max-width: 380px;
	background-color: #2b2621;
	border-radius: 8px;
	overflow: hidden;
	font-family: sans-serif;
	color: white;
}

.modal-header {
	background-color: #1a5d2c;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close-btn {
	background: none;
	border: none;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

.modal-body {
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rating-section label, .comment-section label {
	display: block;
	text-align: center;
	margin-bottom: 8px;
	font-size: 1.1rem;
}

.star-group {
	border: 1px solid #1a5d2c;
	border-radius: 5px;
	padding: 8px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.star-group button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.star {
	font-size: 35px;
	color: transparent;
	-webkit-text-stroke: 2px #facd12;
}

.star.filled {
	color: #facd12;
}

.comment-section textarea {
	width: 100%;
	height: 90px;
	background: transparent;
	border: 1px solid #1a5d2c;
	border-radius: 5px;
	color: white;
	padding: 10px;
	resize: none;
	outline: none;
}

.confirm-btn {
	background-color: #dec375;
	color: #111;
	border: none;
	border-radius: 8px;
	padding: 14px;
	font-size: 1.4rem;
	font-weight: 500;
	cursor: pointer;
	margin-top: 5px;
	width: 100%;
}

.confirm-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
